// -----------------------------------------------------------------------------
// GALLERY
// -----------------------------------------------------------------------------

.gallery
	display: flex

.gallery__item
	display: block
	margin: 0

.gallery__photo
	+img-responsive